body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
}
html {
  scroll-behavior: smooth;
}
.name {
  background-color: #fce2db;
  height: 100vh;
  position: relative;
  text-align: center;
  overflow: hidden;
}
h1,
p {
  margin: 0;
  z-index: 1;
  transform: translateY(-30px);
}
h1 {
  font-family: "Mochiy Pop One", sans-serif;
  color: black;
}
.title {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}
p {
  color: black;
}
/*#B270A2 */
.material-symbols-outlined {
  color: black;
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 48;
  font-size: max(25rem);
  position: relative;
  transition: 150ms;
}
.material-symbols-outlined:hover {
  color: #ff8fb1;
  font-variation-settings: "FILL" 1, "wght" 0, "GRAD" 0, "opsz" 48;
  transition: 150ms;
}

.skills {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 40px;
}
.pc {
  padding-left: 20px;
  width: 50%;
  margin: auto;
}
img {
  width: 8rem;
}
.floatleft {
  float: left;
  border-radius: 100%;
  margin: 0 20px 20px 0;
}
.floatright {
  float: right;
  border-radius: 100%;
  margin: 0 0 20px 20px;
}
.computer,
.desktop,
.guy {
  margin-bottom: 20px;
  padding: 20px;
}
h2 {
  color: black;
  font-size: 3.75rem;
  transform: translateY(-10%);
  margin: 0 0 10px 0;
}
.description {
  color: black;
  font-size: 16px;
}
.left,
.right {
  text-align: left;
}
.dropdown {
  left: 0px;
  background-color: #fce2db;
  display: flex;
  flex-direction: column;
  min-width: 20%;
  height: 100vh;
  text-align: left;
  z-index: 1;
  position: absolute;
  padding: 0 20px 0 20px;
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.445);
  transform: translateX(-1000.4px);
  transition: 250ms ease;
}
.dropdown.active {
  transform: translateX(0px);
  transition: 250ms ease;
}

ul {
  padding: 0;
}
h3 {
  text-align: right;
  color: black;
  text-decoration: underline;
}
button {
  width: 100%;
  text-align: left;
  padding: 10px;
  background-color: #ffebe6;
  border-radius: 4px;
  border: none;
  border-bottom: 3px solid black;
  transition: 100ms;
}
button:hover {
  background-color: #f1f1f1d7;
  border-bottom: 6px solid black;
  margin-bottom: 10px;
  box-shadow: 5px 5px 5px #0000007b;
  cursor: pointer;
}
.contactMe {
  background-color: #fce2db;
  width: 100%;
  height: 150px;
  text-align: center;
}
#contactMe {
  color: black;
  font-size: 1.85rem;
  padding-top: 10px;
  text-decoration: underline;
}
#menu {
  padding-top: 10px;
  color: black;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: max(3rem);
  position: relative;
  transform: translateY(0);
  z-index: 5;
}
#menu:hover {
  color: #ff8fb1;
  cursor: pointer;
}
.navbar {
  background-color: #fce2db;
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  position: absolute;
  width: 100%;
  z-index: 2;
  position: fixed;
}

.ul {
  display: flex;
  margin-right: 20px;
  list-style: none;
  z-index: 2;
}
ul {
  list-style: none;
}
ul li {
  font-size: 1.2rem;
}
a {
  padding: 0 40px 0 0;
  text-decoration: none;
  color: black;
}
#mail {
  transform: translateY(-12px);
}
#email {
  font-size: 1.2rem;
}
a:hover {
  color: #ff8fb1;
  text-decoration: underline;
}
button a:hover {
  color: black;
  text-decoration: underline;
}
.span:hover {
  color: blue;
  text-decoration: underline;
}
#email:hover {
  color: black;
  text-decoration: none;
}
.blur.active {
  filter: blur(15px);
}
.animation {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  transform: translateY(100px);
  overflow: hidden;
}
.heart-animations {
  font-size: 6rem;
  animation: hearts 4s ease-in-out infinite;
}

#secondMenu {
  display: none;
}

.heart1 {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}

@keyframes hearts {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-38vh);
  }
}

@media only screen and (max-width: 912px) and (min-width: 768px) {
  #Fswd {
    transform: translateY(600%);
    font-size: 30px;
  }

  ul li {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 2.2rem;
  }
  button {
    font-size: 2rem;
  }

  #menu {
    font-size: max(6rem);
  }

  .skills {
    height: inherit;
  }

  .pc {
    width: 80%;
    font-size: 30px;
  }

  .description {
    font-size: 26px;
  }

  img {
    width: 12rem;
  }

  #email {
    font-size: 1.8rem;
  }

  h1,
  p {
    transform: translateY(-8px);
  }
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
  .material-symbols-outlined {
    font-size: max(18rem);
  }

  h1 {
    font-size: 1.2em;
  }

  h3 {
    text-align: left;
  }

  #Fswd {
    transform: translateY(500%);
  }

  .navbar {
    flex-direction: column;
    padding: 0 0 0 0;
    align-items: flex-end;
  }

  #menu {
    margin: 0 20px 0 0;
  }

  .ul {
    flex-direction: column;
    align-items: flex-end;
  }

  .dropdown {
    width: 75%;
    transform: translateX(1000.4px);
    box-shadow: -10px 0px 10px rgb(0 0 0 / 45%);
  }

  .dropdown.active {
    transform: translateX(64px);
  }

  .ul {
    display: none;
  }

  #secondMenu {
    display: contents;
  }

  h2 {
    font-size: 2rem;
  }

  .skills {
    height: inherit;
  }

  .pc {
    width: 80%;
    font-size: 30px;
  }

  h1,
  p {
    transform: translateY(-8px);
  }

}
